.preloader {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1001;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.preloader-icon {
		border: 5px solid #eeeeee;
		border-radius: 50%;
		border-top: 5px solid #3498db;
		width: 50px;
		height: 50px;
		animation: spin .5s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	svg {
		path {
			fill: $color-primary;
		}
	}
}